# Data Science Practice - Corona Virus

Link to data: https://www.kaggle.com/brendaso/2019-coronavirus-dataset-01212020-01262020
The original assignment can be found through the following link: https://github.com/cww5/Intro-Data-Science-S2020/blob/master/Assignments/HW_04_Solutions.ipynb
WARNING: Answers indicated in this notebook are subject to change depending on when the dataset is downloaded.

In [1]:
import numpy as np
import pandas as pd

In [2]:
dir_path = 'C:\\Users\\mander8317\\Documents\\Programming\\data-science\\data-science-corona-virus-analysis\\data\\'
data_filename = '2019_nC0v_20200121_20200126.csv'
corona_data = pd.read_csv(dir_path+data_filename)
# use this as a test to view the first 10 rows of the dataset
corona_data.head(10)

,Province/State,Country,Date last updated,Confirmed,Suspected,Recovered,Deaths
0,Shanghai,Mainland China,1/21/2020,9.0,10.0,NaN,NaN
1,Yunnan,Mainland China,1/21/2020,1.0,NaN,NaN,NaN
2,Beijing,Mainland China,1/21/2020,10.0,NaN,NaN,NaN
3,Taiwan,Mainland China,1/21/2020,1.0,NaN,NaN,NaN
4,Jilin,Mainland China,1/21/2020,NaN,1.0,NaN,NaN
5,Sichuan,Mainland China,1/21/2020,2.0,1.0,NaN,NaN
6,Tianjin,Mainland China,1/21/2020,2.0,NaN,NaN,NaN
7,Ningxia,Mainland China,1/21/2020,NaN,1.0,NaN,NaN
8,Anhui,Mainland China,1/21/2020,NaN,3.0,NaN,NaN
9,Shandong,Mainland China,1/21/2020,1.0,NaN,NaN,NaN

### Question 1 : Calculate the number of empty cells in each column

In [3]:
# This is the method in pandas that returns the null cells in all the columns in a dataframe. Ignored string format.
print(corona_data.isnull().sum())

Province/State        64
Country                0
Date last updated      0
Confirmed             29
Suspected            280
Recovered            332
Deaths               344
dtype: int64

### Question 2 : Which country has the highest amount of confirmed cases?

In [5]:
# organize the sums of the other columns of data by country 
country_sums = corona_data.groupby('Country').agg('sum')
country_sums.sort_values(by='Deaths', ascending=False).head()

                Confirmed  Suspected  Recovered  Deaths
Country
Mainland China    10056.0     1073.0      275.0   265.0
Australia            13.0        1.0        0.0     0.0
Mexico                0.0        1.0        0.0     0.0
United States         1.0        0.0        0.0     0.0
US                   14.0        0.0        0.0     0.0

Answer: Mainland China

### Question 3 : Which country/region has the highest amount of suspected cases?

In [6]:
country_sums.sort_values(by='Suspected', ascending=False).head()

                Confirmed  Suspected  Recovered  Deaths
Country
Mainland China    10056.0     1073.0      275.0   265.0
Hong Kong            29.0      905.0        0.0     0.0
Malaysia             13.0        4.0        0.0     0.0
Philippines           0.0        4.0        0.0     0.0
Mexico                0.0        1.0        0.0     0.0

In [ ]:
Answer: Mainland China

### Question 4 : Which country/region has the second most amount of recovered cases?

In [ ]:
Answer: Hong Kong (refer to the code under the third question)

### Question 5 : Develop a mapping for each country to the continent it belongs to.

In [ ]:
# examples of visualization libraries include geopandas, matplolib, plotly
import geopandas as gpd

### Question 6 : Define a function named get_continent which uses the mapping from question 5 to determine the continent the country is from.

### Question 7 : Utilize the get_continent function to create a new column in the data set which is the continent that corresponds to the value which appears in the country/region column.

### Question 8 : What is the total number of confirmed, suspected, recovered, and deaths per continent?